.cache/
.cargo/
.conda/
.config/
.dotnet/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.nv/
.ssh/
.vscode/
.vscode-server-insiders/
D1/
data/
miniconda3/
Models/
nltk_data/
training_data/
.bash_history
.bash_logout
.lessht
.netrc
.profile
.viminfo
.wget-hsts
.test.py
